spring:
  config:
    activate:
      on-profile: test
  
  datasource:
    url: jdbc:h2:mem:testdb;DATABASE_TO_UPPER=false;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
    hikari:
      # Don't set connection-init-sql for H2 (it doesn't support MySQL SET time_zone syntax)
      connection-init-sql: ""
      maximum-pool-size: 5
      minimum-idle: 1
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
        globally_quoted_identifiers: true
        globally_quoted_identifiers_skip_column_definitions: false
        # Force Hibernate to create all tables
        hbm2ddl:
          auto: create-drop
  
  # Disable SQL initialization scripts for tests - let Hibernate auto-create tables
  sql:
    init:
      mode: never
  
  h2:
    console:
      enabled: true

logging:
  level:
    com.brideside: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
